/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  background-image: url('/images/site/checkerboard.jpg');
}

body {
  background-color: white;
  max-width: 900px;
  border: 3px solid lightblue;
  border-radius: 10px;
  margin: 20px auto;
}

.hero {
  text-align: center;
}

.delorean-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.delorean-img {
  width: 60%;
  max-width: 400px;
  margin-right: 20px;
}

.upgrades, .reviews {
  max-width: 75%;
  margin: 20px auto;
}
.delorean-info {
  background-color: rgba(220, 220, 220, 0.4);
  padding: 20px;
  border-radius: 20px;
  color: #0099ff;
}

.delorean-info li {
  text-align: left;
}

.own-btn {
  background-color: #0099ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  padding: 20px;
}

.grid div {
  text-align: center;
}

.grid img {
  background-color: #0099ff;
  padding: 20px;
  max-width: 100px;
  height: 100px;
}

.reviews li {
  margin-top: 30px;
}

footer {
  font-size: 0.9em;
  color: #444;
  padding: 10px;
}

.siteName {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
}

.siteName a {
  text-decoration: none;
  color: black;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#tools {
  font-size: 1.25rem;
}

#tools a {
  text-decoration: none;
  color: black;
  margin-left: 15px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-around;
  font-size: 1.25rem;
  list-style-type: none;
  padding: 10px;
  color: white;
}

@media screen and (min-width: 600px) {
  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    text-align: left;
  }
  .upgrades, .reviews {
    width: 45%;
    margin: 20px auto;
  }

}